div.container {
  display: grid;
  border: 3px dashed blue;
  /* rows / columns*/
  grid-template: 100px 100px 100px / auto auto auto;
  /* align justify*/
  place-items: stretch center;
  /* align justify*/
  place-content: start end;
}

div.item {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 5px;
  font-family: monospace;
  border: 3px dashed red;
}
