div.container{
    display: grid;
    height: 250px;
    border: 3px dashed blue;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    
    align-items: normal;
    justify-items: space;
    align-content: space-evenly;
    justify-content: space-evenly;
    
}

div.item{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;  
    padding: 5px;
    font-family: monospace;
    border: 3px dashed red;
}