div.container {
  display: grid;
  border: 3px dashed blue;
  grid-template: repeat(3, 80px)  / repeat(3, auto) ;
  place-items: normal normal;
  gap: 10px;;
  place-content: normal normal;
  grid-auto-rows: 80px;
  grid-auto-flow: column;
}

div.item {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 5px;
  font-family: monospace;
  border: 3px dashed red;
}
