div.container {
  display: grid;
  border: 3px dashed blue;
  grid-template: repeat(3, 100px)  / 100px 20% repeat(2, 1fr) ;
  width: 1500px;

}

div.item {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 5px;
  font-family: monospace;
  border: 3px dashed red;
}
