@charset "UTF-8";

@font-face {
  font-family: "Idroid";
  src: url(fontes/idroid.otf) format(opentype);
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  line-height: 1.5;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fab66;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --font0: Arial, Helvetica, sans-serif;
  --font1: "Bebas Neue", cursive;
  --font2: "Idroid", sans-serif;
  --clips: \01F4CE;
}

body {
  font-family: var(--font0);
  background-color: var(--cor0);
}

header {
  background-image: linear-gradient(
    to top,
    var(--cor5),
    var(--cor4),
    var(--cor3),
    var(--cor2)
  );
  min-height: 130px;
  max-height: 200px;
  min-width: 400px;
  max-width: 1800px;
}

header > h1#tit_header {
  text-align: center;
  color: white;
  font-family: var(--font0);
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);
}

header > p#par_header {
  text-align: center;
  color: white;
  padding: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);
}

nav#nav_header {
  padding: 10px;
}

#nav_header > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: var(--font0);
  font-size: 14px;
  font-weight: bold;
}

#nav_header > a:hover{
  background-color: var(--cor4);
}

main {
  min-width: 400px;
  max-width: 800px;
  background-color: white;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.199);
  padding: 10px 10px 50px 10px;
  margin: auto;
  height: auto;
}

h1 {
  font-family: var(--font2);
  color: var(--cor5);
}

h2 {
  font-family: var(--font2);
  color: var(--cor5);
  padding: 1px 1px 1px 10px;
  background-image: linear-gradient(to right, var(--cor2), white);
  border-radius: 5px 0px 0px 5px;
}

p {
  text-indent: 24px;
  text-align: justify;
  padding: 5px 5px 10px 5px;

}

aside > h3 {
  background-color: var(--cor3);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  color: white;
  font-size: 1em;
}
aside {
  background-color: #83e1ad;
  border-radius: 20px 10px 10px 10px;
}

aside > p {
  padding: 10px;
}

aside > ul {
  list-style-type: "\2714\0020\0020";
  columns: 2;
  list-style-position: inside;
  padding-left: 10px;
}

.verde_palavra {
  color: var(--cor4);
}

.branco_palavra {
  color: white;
}

.link_texto {
  color: var(--cor4);
  text-decoration: none;
  font-weight: bold;
}

.div_imagem {
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--cor5);
  font-size: 14px;
  text-align: center;
  color: #2fab66;
  margin: 20px 0px 0px 0px;
}

  /* div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -10px;
    margin-right: -20px;
    margin-bottom: 15px;
    margin-bottom: 59%;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}   */
